h1 {
    text-align:center;
}

body {
	vertical-align:center;
	background-image: url('thomaskeady.github.io/dork-min.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}

p {
	color: white;
	font-size: 7em;
}

div.footer {
	background-color: gray;
	position: fixed;
	right: 0;
	bottom: 0;
	height: 4em;
	width: 100%;
}

td.filler {
	overflow: hidden;
}

td.content {
	overflow: hidden;
	width: 10em;
	
	
}

