h1 {
    text-align:center;
}

body {
	vertical-align:center;
	background-image: url('thomaskeady.github.io/dork-min.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}

#dork {
	color: white;
	font-size: 7em;
	position: fixed;
	top: 4%;
	left: 7%;
	
	translate: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}

#not-dork {
	text-align: center;
}

div.footer {
	background-color: gray;
	position: fixed;
	bottom: 0;
	width: 100%;
	
	
  	transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
	
}

div.footer-content {
	position: absolute;
	
}

