h1 {
    text-align:center;
}

body {
	vertical-align:center;
	background-image: url('thomaskeady.github.io/dork-min.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
}

#dork {
	color: white;
	font-size: 7em;
}

#not-dork {
	text-align: center;
}

div.footer {
	background-color: gray;
#	position: fixed;
	
	height: 4em;
	width: 100%;
	
	position: relative;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	
	bottom: 0;
}

div.footer-content {
	position: absolute;
	
}

